$md-primary: (
    50 : #e4f7ea,
    100 : #bbeacc,
    200 : #8edcaa,
    300 : #61ce87,
    400 : #3fc46e,
    500 : #1db954,
    600 : #1ab24d,
    700 : #15aa43,
    800 : #11a23a,
    900 : #0a9329,
    A100 : #c1ffcc,
    A200 : #8effa3,
    A400 : #5bff79,
    A700 : #41ff64,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #f2f2f2,
    100 : #e0e0e0,
    200 : #cbcbcb,
    300 : #b6b6b6,
    400 : #a6a6a6,
    500 : #969696,
    600 : #8e8e8e,
    700 : #838383,
    800 : #797979,
    900 : #686868,
    A100 : #fce5e5,
    A200 : #f7b7b7,
    A400 : #ff7c7c,
    A700 : #ff6363,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #fce8e8,
    100 : #f9c7c7,
    200 : #f5a1a1,
    300 : #f07b7b,
    400 : #ed5f5f,
    500 : #ea4343,
    600 : #e73d3d,
    700 : #e43434,
    800 : #e12c2c,
    900 : #db1e1e,
    A100 : #ffffff,
    A200 : #ffdede,
    A400 : #ffabab,
    A700 : #ff9191,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
